*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.picture__img img{
    width: 25%;
    border-radius: 100%;
    border: 1px solid #eba622;
}
.picture__home img{
    width: 100%;
}
.textMenu {
    display: grid;
    justify-content: end;
}
.font__family {
    font-family: 'Barriecito', cursive;
}
.logos {
    background: url("../img/js.png") center;
    height: 12rem;
    width: 9rem;
}
.html5 {
    background: url("../img/html5.png") center;
    height: 12rem;
    width: 9rem;
}
.csss {
    background: url("../img/csss.png") center;
    height: 12rem;
    width: 9rem;
}
.laravele {
    background: url("../img/laravele.png") center;
    height: 12rem;
    width: 9rem;
}
.react {
    background: url("../img/reactt.png") center;
    height: 12rem;
    width: 9rem;
}
